extends layout

block content
  .container
    .row
      .col-md-6
        if error
          .panel.panel-danger
            .panel-heading
              h3.panel-title ERROR
            .panel-body
              p#error= error
        .panel.panel-success
          .panel-heading
            h3.panel-title Register
          .panel-body
            form(action='', method='post')
              input(type="hidden", name="_csrf", value=csrfToken)
              .form-group
                label Username
                input.form-control(type='text', name='username', placeholder='MaxMustermann', required=true)
              .form-group
                label E-Mail
                input.form-control(type='email', name='email', placeholder='max@mustermann.de', required=true)
              .form-group
                label Password
                input.form-control(type='password', name='password', placeholder='12345', required=true)
              input.btn.btn-default(type='submit', value='Register')
      .col-md-6